DATABASE_NAME=cleanquest
DATABASE_USER=cleanquest
DATABASE_PASSWORD=jJyTIs0WmGM+J8TV0fIrajQva6DgeQ2UctGLFFheDxo=
DATABASE_HOST=localhost
DATABASE_PORT=5432

JWT_HASH_KEY=7IuWsazAGGUNUJ9RT1eb+ZOaZGUi5k+NhgJxu8LjvIY=

COOKIE_SAME_SITE=lax
COOKIE_SECURE=false

WEB_APP_URL=http://localhost:5173
VITE_APP_API_BASE_URL=http://localhost:5000